{% if article.status != "draft" %}
<section class="subtitle">
	<div class="share-items-wrapper">
    <h3>Share this post</h3>
  	<div class="share-items">
  	<div class="share-item"><a href="https://twitter.com/intent/tweet?original_referer={{ SITEURL }}/{{ article.url }}&amp;text={{ article.title }}&amp;url={{ SITEURL }}/{{ article.url }}&amp;via=thomasjpfan" title="Tweet this !" target="_blank" rel="noopener">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    </a></div>
    <div class="share-item"><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ SITEURL }}/{{ article.url }}" title="Share this on Linkedin" target="_blank" rel="noopener">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span></a></div>
  	<div class="share-item"><a href="http://www.facebook.com/share.php?u={{ SITEURL }}/{{ article.url }}" title="Share this on Facebook" target="_blank" rel="noopener">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    </a></div>
    <div class="share-item"><a href="mailto:?subject={{ article.title }}&amp;body={{ SITEURL }}/{{ article.url }}" title="Email this" class="email" target="_blank" rel="noopener">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span></a></div>
  	</div>
  	</div>
	</div>
      {% for other_article in articles|sort(attribute='date', reverse=True) if other_article != article and other_article.tags | intersect(article.tags) | length > 0 %}
        {% if loop.first %}
          <section class="similar-posts">
          <h3>Similar Posts</h3>
          <dl class="dl-tags">
        {% endif %}
          {% if loop.index <= 5 %}
            <dt>{{ other_article.date|strftime('%m/%d/%y') }}</dt>
            <dd><a href='/{{ other_article.url }}'>{{ other_article.title }}</a></dd>
          {% endif %}
        {% if loop.last %}
          </dl>
          </section>
        {% endif %}
      {% endfor %}
</section>
{% endif %}
