{% if article.status != "draft" %}
<section class="subtitle">
  <div class="share-items-wrapper">
    <p>Find me on <a href="https://www.linkedin.com/in/thomasjpfan" title="Connect with me" target="_blank"
        rel="noopener">Linkedin</a> or <a href="https://www.github.com/thomasjpfan" title="Connect with me"
        target="_blank" rel="noopener">Github</a> 🌎</p>
  </div>
  {% for other_article in articles|sort(attribute='date', reverse=True) if other_article != article and
  other_article.tags | intersect(article.tags) | length > 0 %}
  {% if loop.first %}
  <section class="similar-posts">
    <h3>Similar Posts</h3>
    <dl class="dl-tags">
      {% endif %}
      {% if loop.index <= 5 %} <dt>{{ other_article.date|strftime('%m/%d/%y') }}</dt>
        <dd><a href='/{{ other_article.url }}'>{{ other_article.title }}</a></dd>
        {% endif %}
        {% if loop.last or loop.index > 5 %}
    </dl>
  </section>
  {% endif %}
  {% endfor %}
</section>
{% endif %}
