{% extends "base.html" %} {% block title %}{{ article.title }}{% endblock %}
{% block info %}
<meta name="description" property="og:description" content="{{ article.summary | striptags}}">
<meta name="description" content="{{ article.summary | striptags }}">
<meta name="twitter:description" content="{{ article.summary | striptags }}">
<meta name="og:title" property="og:title" content="{{ article.title }}">
<meta name="og:url" property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta name="twitter:title" content="{{ article.title }}">
{% endblock %}


{% block drafts %}
{% if article.status == "draft" %}
<!-- Reject Robots -->
<meta name="robots" content="noindex, nofollow">
{% endif %}
{% endblock %}

{% block katex %}
{% if "true" in (article.math | lower) %}
<noscript id="katex_deferred">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
		integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
</noscript>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
	integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
	crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
	integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
	crossorigin="anonymous"></script>
{% endif %}
{% endblock %}

{% block katexDeferred %}
{% if "true" in (article.math | lower) %}
var loadKatexDeferred = function () {
var addStylesNode = document.getElementById("katex_deferred");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement);
addStylesNode.parentElement.removeChild(addStylesNode);
};
var renderMath = function () {
renderMathInElement(document.body, {
delimiters: [{
left: "$$",
right: "$$",
display: true
},
{
left: "\\[",
right: "\\]",
display: true
},
{
left: "$",
right: "$",
display: false
},
{
left: "\\(",
right: "\\)",
display: false
}
]
});
}
{% endif %}
{% endblock %}

{% block katexDeferredLoadAll %}
{% if "true" in (article.math | lower) %}
loadKatexDeferred();
renderMath();
{% endif %}
{% endblock %}

{% block content %}
<article class="content">
	<div class="article content-wrapper">
		<h1 class='article-title'>
			<a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}">
				{{ article.title}}
			</a>
		</h1>
		{% include "article_header.html" %} {% if article.series %}
		<div class="series-wrapper">
			<p>This post is part {{ article.series.index }} of the
				<strong>{{ article.series.name }}</strong> series:
			</p>
			<ol class="parts">
				{% for part_article in article.series.all %}
				<li {% if part_article==article %}class="active" {% endif %}>
					<a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
				</li>
				{% endfor %}
			</ol>
		</div>
		{% endif %}
		<div class="entry-content">
			{{ article.content }}
		</div>
		<!-- /.entry-content -->
		<div class='article-subtitle'>
			{% include 'article_subtitle.html' %}
		</div>
	</div>
</article>
{% endblock %}
