<footer>
  <div class="footer-wrapper">
    <div class="footer-inner-wrapper">
      <div class="footer-profile">
        <div class="footer-brand">
          <a href="/"><span>{{ SITENAME }}</span></a>
        </div>
        <div class="footer-about">
          <p>{{ OG_DESCRIPTION }}</p>
        </div>
      </div>
      <div class="footer-site-detail">
        <span>Contact</span>
        <ul class="footer-links">
          <li class="footer-link">
            <a href="https://www.github.com/thomasjpfan" title="Connect with me" target="_blank" rel="noopener"><i
                class="fa fa-github"></i> github.com/thomasjpfan</a>
          </li>
          <li class="footer-link">
            <a href="https://www.linkedin.com/in/thomasjpfan" title="Connect with me" target="_blank" rel="noopener"><i
                class="fa fa-linkedin"></i> linkedin.com/in/thomasjpfan</a>
          </li>
        </ul>
      </div>
      <div class="footer-site-detail">
        <span>Site</span>
        <ul class="footer-links">
          <li class="footer-link">
            <a href="/"><i class="fa fa-th-list"></i> home</a>
          </li>
          <li class="footer-link">
            <a href="/{{ARCHIVES_URL}}"><i class="fa fa-archive"></i> archives</a>
          </li class="footer-link">
          <li class="footer-link">
            <a href="/topics"><i class="fa fa-tags"></i> topics</a>
          </li class="footer-link">
          {% for title, link in MENUITEMS %} {% if title == 'Rss' %}
          <li class="footer-link">
            <a href="{{ link }}"><i class="fa fa-rss"></i>
              {{ title|lower }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
