<header>
    <div class="header-wrapper">
        <div class="header-inner-wrapper">
            <div class="header-brand">
                <a href="/">
                    <div class="brand-logo-svg"></div>
                </a>
            </div>
            <nav>
                <div class="nav-search">
                    <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
                        <label for="tipue_search_input" class="visuallyhidden">Search</label>
                        <input type="text" class="nav-search--input search-query" placeholder="Search" name="q"
                            id="tipue_search_input">
                    </form>
                </div>
                <div class="nav-links">
                    <div class="nav-link">
                        <a href="https://github.com/thomasjpfan" target="_blank" rel="noopener"><i
                                class="fa fa-github"></i> github</a>
                    </div>
                    <div class="nav-link">
                        <a href="https://twitter.com/thomasjpfan" target="_blank" rel="noopener">
                            <i class="fa fa-linkedin"></i> linkedin
                        </a>
                    </div>
                    {% for page in pages %}
                    {% if page.title == 'Talks' %}
                    <div class="nav-link">
                        <a href="/{{ page.url }}">
                            <i class="fa fa-flask"></i> talks</a>
                    </div>
                    {% endif %}
                    {% if page.title == 'About' %}
                    <div class="nav-link">
                        <a href="/{{ page.url }}">
                            <i class="fa fa-user"></i> about</a>
                    </div>
                    {% endif %}{% endfor %}
                    <!-- <div class="nav-link">
                        <a href="/topics"><i class="fa fa-tags"></i> topics</a>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</header>
