@import "mixins/_meyer-reset";
@import "mixins/_mymixins";
@import "mixins/_css3";
@import "mixins/_flex";
@include meyer-reset;

// Presets
// Border box
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

$primary-color: #520B92;
$second-color: #ACD500;
$third-color: #FFE268;
$third-light-color: #FFEEA6;
$max-width: 1080px;
$min-width: 320px;
$link-hover-color: #ACD500;
$light-link-color: #ce8cff;
$footer-color: black;
$nav-link-color: white;
$date-color: #949494;
$primary-font: Verdana, sans-serif;
$header-font: Arial, sans-serif;
$brand-font: Arial, sans-serif;
$code-font: Menlo,
    "Lucida Console",
    Monaco,
    monospace;
// layout-splits
$phone: '>=480px';
$index-tablet: '>=660px';
$tablet: '>=768px';
$desktop: '>=900px';

:root {
    --font-color: black;
    --body-background-color: #fdfdfd;
    --code-background-color: #f8f8f8;
    --code-color: black;
    --link-color: #9435db;
    --card-background: white;
    --tag-border-color: #e8e8e8;
    --tag-color: black;
    --tag-background-color: #fff8dd;
    --tag-hover-color: #ffdb40;

    @media (prefers-color-scheme: dark) {
        --font-color: white;
        --body-background-color: #212121;
        --code-background-color: #0d1117;
        --code-color: #c9d1d9;
        --link-color: #d49aff;
        --card-background: #1e1a20;
        --tag-color: white;
        --tag-border-color: rgb(18, 18, 18);
        --tag-background-color: #414141;
        --tag-hover-color: #855987;
    }
}



// Defaults
html,
body {
    font-family: $primary-font;
    color: var(--font-color);
    min-width: 300px;
    background-color: var(--body-background-color);
}

body {
    @include flexbox;
    @include flex-direction(column);

    min-height: 100vh;
    min-height: 100svh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

input {
    border: 1px solid $nav-link-color;
    background: none;
    font-family: $primary-font;
    @include appearance(none);
    color: $nav-link-color;
    @include border-radius(0.2em);

    &:focus {
        outline: 0;
    }
}

@include placeholder {
    font-family: $primary-font;
    color: $nav-link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color);
    font-weight: bold;
    font-family: $header-font;
    line-height: 120%;

    a {
        color: var(--font-color);
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $primary-color;

            @media (prefers-color-scheme: dark) {
                color: #ce8cff;
            }
        }
    }
}

h1 {
    font-size: calculateRem(36px);
}

h2 {
    font-size: calculateRem(30px);
}

h3 {
    font-size: calculateRem(24px);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    font-size: calculateRem(16px);
    line-height: 1.7em;
    font-family: $primary-font;
}

ul {
    font-size: calculateRem(18px);
}

p code,
li code {
    padding: .1em .2em;
    color: rgb(0, 126, 0);
    margin: 0 0.1em;
    background-color: #f1f1f1;

    @media (prefers-color-scheme: dark) {
        color: #7ffc7f;
        background-color: #373737;
    }
}

code {
    font-family: $code-font;
    @include border-radius(0.2em);
}

header,
footer {
    color: $nav-link-color;
    background-color: $primary-color;

    a {
        color: $nav-link-color;
    }
}

footer {
    margin-top: auto;
}

pre {
    line-height: 1.3rem;
    font-size: 0.9em;
}

// modules
.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.pagination ul>li {
    display: inline;
}

.pagination ul>li>a {
    float: left;
    padding: calculateRem(4px) calculateRem(12px);
    line-height: calculateRem(20px);
    text-decoration: none;
    border: 1px solid #dddddd;
    font-family: $header-font, Helvetica, Arial, sans-serif;
    background-color: var(--body-background-color);
}

.pagination ul>li>a:hover,
.pagination ul>li>a:focus,
.pagination ul>.active>a {
    background-color: var(--body-background-color);
}

.pagination ul>.active>a {
    color: #999999;
    cursor: default;
}

.pagination ul>.disabled>a,
.pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    color: #757575;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li:first-child>a {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination ul>li:last-child>a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered {
    text-align: center;
}

.tag {
    display: inline-block;
    color: var(--tag-color);
    background: var(--tag-background-color);
    border: 2px solid var(--tag-border-color);
    padding: .34rem;
    font-size: calculateRem(14px);
    @include border-radius(6px);
    @include transition(background .2s ease-in-out);

    &:hover {
        background: var(--tag-hover-color);
    }
}

.most-recent {
    border: 2px solid black;
    font-weight: bold;
    font-family: $header-font;
    background: #ffe268;
    color: black;
    padding: .35rem;
    @include border-radius(8px);
}

.most-recent-wrapper {
    padding-bottom: calculateRem(16px);
    padding-top: calculateRem(8px);
}

.anchor-link {
    display: none;
}

.subtitle {
    .share-items-wrapper {
        text-align: right;
    }

    .share-items {
        margin-top: calculateRem(10px);
    }

    .share-item {
        display: inline-block;

        a {
            color: black;
            @include transition(color 0.2s ease-in-out);

            &:hover {
                color: #82a100;
            }
        }
    }
}

.similar-posts {
    h3 {
        border-bottom: 1px #d0d0d0 dotted;
    }

    .dl-tags {
        margin-top: calculateRem(10px);

        dt {
            width: 110px;
        }
    }
}

// code
// highlight
.highlight pre {
    font-family: $code-font;
    display: block;
    @include border-radius(0.2em);
    padding: calculateRem(12px);
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    border: 0.1em solid #d6d6d6;
}

// ipython collpase header
.prompt {
    display: none;
}

.output_text {
    margin-top: calculateRem(10px);
    padding: 10px;
    border-radius: 2px;
    color: var(--code-color);
    border-color: rgba(67, 9, 119, 0.73);
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    background-color: var(--code-background-color);

    @media (prefers-color-scheme: dark) {
        border-color: #ce8cff;
    }
}

.output_stderr {
    display: none;
}

.collapseheader,
.show-all-code {
    background-color: #e9e9e9;

    &>span {
        display: block;
        cursor: pointer;
        font-weight: 700;
        padding: calculateRem(8px) calculateRem(6px);
    }

    &>.input_area>.highlight {
        margin-top: 0;
    }
}

.show-all-code {
    margin-top: calculateRem(8px);
}

.output_text>pre {
    overflow: auto;
    font-size: calculateRem(14px);
    font-family: $code-font;
}

// listing tables
.dl-tags dt,
.dl-archive dt {
    float: left;
    width: 130px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: calculateRem(32px);
    font-size: calculateRem(18px);
}

.dl-tags dd,
.dl-archive dd {
    a {
        line-height: calculateRem(32px);
        font-size: calculateRem(18px);
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#tipue_search_input {
    padding: 6px;
    width: 180px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0;
}

#tipue_search_content {
    clear: left;
    padding: 25px 0 13px 0;
    margin: 0;
}

#tipue_search_loading {
    padding-top: 60px;
    background: #fafafa url('../img/loader.gif') no-repeat left;
}

#tipue_search_warning_head {
    font: 20px $brand-font, sans-serif;
    color: var(--font-color);
}

#tipue_search_warning {
    font: 20px $brand-font, sans-serif;
    color: var(--font-color);
    margin: 7px 0;
}

#tipue_search_warning a {
    color: #096;
    font-weight: 400;
    text-decoration: none;
}

#tipue_search_warning a:hover {
    color: var(--font-color);
}

#tipue_search_results_count {
    font: 20px $brand-font, sans-serif;
    color: var(--font-color);
}

.tipue_search_content_bold {
    font-weight: 700;
    color: #520b92;

    @media (prefers-color-scheme: dark) {
        color: $light-link-color;
    }
}

.tipue_search_content_title {
    font: 30px $header-font, sans-serif;
    text-rendering: optimizelegibility;
    margin-top: 23px;
}

.tipue_search_content_title a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
    transition: color .2s ease-in-out;

    @media (prefers-color-scheme: dark) {
        color: $light-link-color;
    }
}

.tipue_search_content_title a:hover {
    color: var(--font-color);
}

.tipue_search_content_text {
    font: 14px $primary-font, sans-serif;
    line-height: 20px;
    color: var(--font-color);
    padding: 13px 0;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.tipue_search_content_url {
    font: 15px $primary-font, sans-serif;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.tipue_search_content_url a {
    color: #096;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.tipue_search_content_url a:hover {
    color: #333;
}

#tipue_search_foot {
    margin: 51px 0 21px 0;
}

#tipue_search_foot_boxes {
    padding: 0;
    margin: 0;
    font: 17px $primary-font, sans-serif;
}

#tipue_search_foot_boxes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#tipue_search_foot_boxes li a {
    padding: 9px 15px 10px 15px;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-decoration: none;
    text-align: center;
}

#tipue_search_foot_boxes li.current {
    padding: 9px 15px 10px 15px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
}

#tipue_search_foot_boxes li a:hover {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

// Video
.videobox {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// katex
.katex-display {
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: calculateRem(8px);
}

// Overall layout (header main footer)
header,
footer,
main {
    @include flexbox;
    @include justify-content(center);
}

.header-wrapper,
.footer-wrapper,
.content {
    @include flex(1 1);
    max-width: $max-width;
}

.footer-inner-wrapper,
.header-inner-wrapper {
    width: 92%;
    margin: 0 auto;

    @include media($phone) {
        width: 96%;
    }
}

.footer-inner-wrapper {
    padding-bottom: calculateRem(16px);
}

// header layout
header {
    font-size: calculateRem(18px);
}

.header-inner-wrapper {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
}

.header-brand {
    @include flex(1 15%);
    font-size: calculateRem(70px);
    font-family: $brand-font;

    a {
        color: $second-color;
    }

    span {
        color: white;
    }
}

nav {
    @include flex(1 85%);
}

.nav-search--input {
    padding: 0.4em;
    width: calculateRem(180px);
    font-size: calculateRem(16px);
    @include border-radius(0.2em);
}

.nav-search {
    text-align: right;
    padding-top: calculateRem(12px);
    padding-bottom: calculateRem(4px);
}

.nav-links {
    @include flexbox;
    @include flex-flow(row wrap);
    float: right;
    width: 12em;
    text-align: right;

    @include media('>=500px') {
        width: 21em;
    }
}

.nav-link {
    @include flex(1 50%);
    margin-top: calculateRem(8px);
    margin-bottom: calculateRem(12px);

    @include media('>=500px') {
        @include flex(1 auto);
    }

    a {
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $link-hover-color;
        }
    }
}

.footer-inner-wrapper {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
}

.footer-profile {
    @include flex(1 100%);

    @include media($tablet) {
        @include flex(1 50%);
    }
}

.footer-about {
    margin-top: calculateRem(16px);
}

.footer-contact {
    @include flex(1 70%);

    @include media($tablet) {
        @include flex(1 38%);
    }
}

.footer-site-detail {
    @include flex(1 30%);

    @include media($tablet) {
        @include flex(1 12%);
    }
}

.footer-links {
    margin-top: calculateRem(16px);

    a {
        font-size: calculateRem(16px);
    }
}

.footer-contact-message {
    margin-top: calculateRem(16px);
    padding-bottom: calculateRem(8px);

    p {
        font-size: calculateRem(16px);
    }
}

.footer-brand>a,
.footer-contact>span,
.footer-site-detail>span {
    font-size: calculateRem(24px);
    font-family: $brand-font;
    color: $second-color;
}

.footer-link {
    a {
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $link-hover-color;
        }
    }
}

.footer-link {
    padding-bottom: calculateRem(12px);
}

.footer-profile,
.footer-contact,
.footer-site-detail {
    padding-top: calculateRem(28px);
}

.footer-profile {
    padding-right: calculateRem(24px);
}

.footer-social-item {
    display: inline;
    margin-right: calculateRem(2px);

    a {
        color: black;
        @include transition(color 0.2s ease-in-out);

        &:hover {
            color: #82a100;
        }
    }
}

// content layout
main {
    background: var(--body-background-color);
}

html {
    position: relative;
    min-height: 100%;
}

.content {
    min-width: $min-width;

    h1 {
        font-size: 2.5rem;
    }
}

.content-wrapper {
    width: 96%;
    margin: 0 auto;
    max-width: 850px;
}

// index layout
.article-image {
    max-width: 100%;
    max-height: 360px;
    width: auto;
    height: auto;
}

.articles-wrapper,
.project-wrapper {
    border: 1px solid #e8e8e8;
    @include border-radius(8px);
    background: var(--card-background);
    padding: calculateRem(16px);
    margin-bottom: calculateRem(10px);

    @media (prefers-color-scheme: dark) {
        border-color: #8c8c8c;
    }
}

.index {
    padding-top: calculateRem(12px);

    p {
        font-size: calculateRem(16px);
    }
}

.index-wrapper {
    width: 98%;
    margin: 0 auto;
}

.pagination {
    margin-top: calculateRem(6px);
    margin-bottom: calculateRem(16px);
}

.articles-read-more {
    line-height: calculateRem(32px);
}

.articles-read-more:hover {
    text-decoration: underline;
}

.articles {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
}

.articles-feature,
.articles-not-feature {
    .articles-summary {
        margin-top: calculateRem(8px);
    }
}

.articles-feature {
    @include flex(initial);
    @include flexbox;
    @include flex-flow(column nowrap);

    h2 {
        font-size: 2.2em;
    }

    @include media($index-tablet) {
        @include flex-flow(row nowrap);

        .articles-main-panel {
            width: 50%;
        }

        .articles-summary-wrapper {
            width: 47%;
            margin: auto 2%;
        }

        .articles-summary {
            margin-top: 0;
        }

        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

.articles-not-feature {
    @include flex(initial);
    @include flexbox;
    @include flex-flow(row wrap);
    @include flex-grow(1);

    h2 {
        font-size: calculateRem(26px);
    }

    @include media($index-tablet) {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

// project layout
.project-list {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    margin-top: calculateRem(8px);
}

.project-wrapper {
    word-wrap: break-word;
    @include flex(initial);
    @include flex-flow(row wrap);
    width: 99%;
    margin-left: .5%;
    margin-right: .5%;

    @include media($index-tablet) {
        width: 49%;
        margin-left: .5%;
        margin-right: .5%;
    }
}

// default layout for other pages
.article,
.page,
.search,
.tag-wrapper,
.tags-wrapper,
.archives {
    margin-top: calculateRem(24px);
    margin-bottom: calculateRem(24px);

    p {
        margin-top: calculateRem(16px);
    }

    h2,
    h3 {
        margin-top: calculateRem(24px);
    }

    h1 {
        border-bottom: 1px #d0d0d0 dotted;
        padding-bottom: calculateRem(8px);
    }

    h2 {
        border-bottom: 1px #d0d0d0 dotted;
        padding-bottom: calculateRem(4px);
    }

    ul {
        list-style-type: disc;
        margin-left: 1.50em;
    }

    ol {
        list-style-type: decimal;
        margin-left: 1.50em;
    }

    li {
        margin-top: calculateRem(12px);
        line-height: 1.3;
    }

    img {
        margin-top: calculateRem(14px);
    }

    .input {
        margin-top: calculateRem(14px);
    }

    .highlight {
        margin-top: calculateRem(10px);
    }

    .subtitle {
        margin-top: calculateRem(16px);
    }

    p a:hover,
    li a:hover,
    dd a:hover {
        text-decoration: underline;
    }
}

.entry-content {
    margin-top: calculateRem(10px);
}

// article layout
article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    @include media($tablet) {
        height: 100%;
        width: auto;
    }
}

.article-header {
    margin-top: calculateRem(12px);
    padding-bottom: calculateRem(6px);
}

.article-header-link {
    color: #767676;
    margin-right: calculateRem(12px);

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

.article-header-tag {
    margin-right: calculateRem(4px);
}

.article-header-tags-wrapper {
    margin-top: calculateRem(12px);
}

.article {
    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .entry-content {
        margin-top: 2rem;
    }

    .article-header {
        text-align: center;
    }
}

.series-wrapper {
    border-bottom: 1px dotted black;
    padding-bottom: 18px;

    a {
        font-size: calculateRem(18px);
    }

    a:hover {
        text-decoration: underline;
    }
}

// archives
.archives {
    .dl-archive {
        margin-top: calculateRem(10px);
    }
}

// single tag
.tag-wrapper {
    .tag {
        font-size: calculateRem(28px);
        padding-top: 0;
        padding-bottom: 0;
    }

    .dl-tags {
        margin-top: calculateRem(10px);
    }

    h1 {
        border-bottom: none;
    }
}

// all tags
.topics-links {
    @include flexbox;
    @include flex-flow(row wrap);
    margin-top: calculateRem(14px);

    a {
        color: black;
    }
}

.topics-link {
    display: block;
    text-align: center;
    width: 48%;
    margin-top: calculateRem(10px);
    margin-left: 1%;
    margin-right: 1%;
    font-size: calculateRem(18px);
}

// projects
.projects {
    h2 {
        border-bottom: none;
        margin-top: calculateRem(16px);
    }
}

.project-wrapper {
    h3 {
        color: #520b92;
        margin-bottom: calculateRem(8px);
        margin-top: 0;
    }

    p {
        margin-top: calculateRem(10px);
        color: black;
        font-size: 1rem;
    }

    span {
        color: #096;
        line-height: 1.2;
    }

    &:hover {
        border: 1px solid rgba(82, 11, 146, 0.7);
    }
}

// tables
tr,
th,
td {
    text-align: right;
    vertical-align: middle;
    padding: 0.42em 0.47em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

th {
    font-weight: bold;
}

table {
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: var(--font-color);
    table-layout: fixed;
}

thead {
    background: #e1e1e1;
    color: var(--font-color);
    border-bottom: 1px solid #555555;
    vertical-align: bottom;

    @media (prefers-color-scheme: dark) {
        background: var(--body-background-color);
        border-color: var(--font-color);
    }
}

tbody tr:nth-child(even) {
    background: #ededed;

    @media (prefers-color-scheme: dark) {
        background: #212121;
    }
}

tbody tr {
    background: #fbfbfb;

    @media (prefers-color-scheme: dark) {
        background: var(--body-background-color);
    }
}

tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

*+table {
    margin-top: calculateRem(16px);
}

.output_subarea {
    overflow-x: auto;
}

.dataframe+p {
    display: none;
}

// adomontition
.admonition {
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
    background-color: rgba(255, 219, 64, 0.19);
    border-left: 4px solid rgba(255, 219, 64, 1);

    p {
        font-size: 1rem;
        margin-top: 0;
    }

    .admonition-title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}

.note {
    background-color: rgba(255, 219, 64, 0.19);
    border-left: 4px solid rgba(255, 219, 64, 1);
}

/*Block Quote*/

blockquote p {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2px;
    font-family: $primary-font;
    border-left: 4px solid #520b92;
    background-color: #f7f4ff;
}

// Summary detail

details[open]>summary:after {}

details>summary:before {}

summary:after {}

summary {
    padding: 8px;
    font-weight: bold;
    background-color: #f7f4ff;
}

.disabled-link {
    pointer-events: none;
}

// logo
.brand-logo-svg {
    background-image: url("data:image/svg+xml,%3Csvg height='84' viewBox='0 0 84 84' width='84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='m0 84v-84h42 42v42 42h-42z' fill='%234f1b90'/%3E%3Cpath d='m73.332001 67.309639c-.739205.028397-1.570801-.033989-1.848-.138626s-.753784-.358574-1.059082-.564301c-.305298-.205734-.727501-.60775-.938232-.893386-.210732-.285622-.519516-.82174-.686196-1.191361-.169433-.375732-.311302-1.107258-.321769-1.659149-.0103-.542908.086486-1.282242.215065-1.64296.128585-.360718.452293-.975383.71936-1.365921.267059-.390526.833427-.913906 1.258591-1.163074.610046-.357514 1.052238-.469181 2.097458-.52969 1.006073-.058243 1.511688-.005158 2.103424.220825.428444.163624 1.05336.545391 1.38871.848347.33535.302975.793609.915985 1.018348 1.362255.272484.541054.430649 1.184929.474701 1.932491.054512.924946-.00589 1.277645-.345298 2.015995-.22625.492203-.621972 1.143929-.879357 1.448281-.2574.304351-.779777.714309-1.160858.91101-.497154.256623-1.072495.372223-2.036865.409264z' fill='%23fff'/%3E%3Cg fill='%23afd22b'%3E%3Cpath d='m34.564613 30.072002c.181717 2.083195.181794 3.291958.117401 4.030133l-.117076 1.342132-6.824469.043865-6.824469.043869v9.492001c0 6.670399.061829 9.912785.207989 10.907539.125961.857274.409809 1.846821.719719 2.509087.292418.624874.810583 1.369446 1.209034 1.737289.464447.42878 1.057501.754998 1.775974.97691.809172.249931 1.558731.333172 3.000063.333172 1.056761 0 2.466299-.112732 3.132305-.250511.666003-.137787 1.777914-.470577 2.470915-.739533.693001-.268963 1.309029-.439727 1.368954-.379486.059921.060242.372215 1.243534.693989 2.629532.585033 2.519997.585033 2.519997-.024956 2.813248-.335491.161285-1.225483.484665-1.97776.718605-.752278.233948-1.949629.53669-2.66078.672752-.8198.156861-2.255959.243073-3.924225.235565-1.862045-.008361-3.054897-.101181-4.080542-.317543-.797127-.168144-1.937481-.538704-2.534122-.823455-.596644-.284752-1.471161-.825356-1.943377-1.201333-.472214-.375984-1.173364-1.153011-1.558111-1.726722-.384747-.573715-.881019-1.450978-1.102827-1.949467-.221808-.498493-.555867-1.632496-.742353-2.52-.186485-.887513-.420688-2.97445-.520451-4.63765-.115272-1.921753-.159527-8.667927-.121412-18.508064.032985-8.516236.107137-15.531197.164783-15.588806.057645-.05761 1.191645-.291977 2.520001-.520813 1.328353-.228836 2.73649-.462853 3.12919-.520028.714001-.103958.714001-.103958.714001 5.444901 0 4.904858.030842 5.560696.265739 5.650833.146156.056091 3.235995.101978 6.866308.101978z'/%3E%3Cpath d='m43.007999 66.528c0-34.521328.060131-41.90403.179409-42.761566.098675-.709431.325478-1.861023.504014-2.55909.178539-.69807.509109-1.672203.734603-2.164757.225495-.492546.687748-1.314003 1.02723-1.825447.339481-.511452.943733-1.265854 1.342785-1.676445.399051-.410591 1.157157-1.022629 1.684681-1.360084.527523-.337448 1.534259-.822754 2.237201-1.078446.702946-.255699 1.9907-.586685 2.861683-.735534.91024-.155556 2.530228-.27063 3.809841-.27063 1.224438 0 2.806683.080734 3.516117.179405.709435.098671 1.865067.326515 2.56807.506309.703003.179802 1.345787.394509 1.428413.477127.08828.088288-.071152 1.178147-.386749 2.643685-.295326 1.371414-.593906 2.553314-.663509 2.626449-.0696.073143-.794995-.060722-1.611989-.297477-.906921-.262818-2.144084-.470604-3.176616-.533524-.967335-.058952-2.300125-.020935-3.113896.088829-.882217.118988-1.807674.374115-2.436.671547-.557312.263809-1.304486.773499-1.660386 1.132645-.355903.359161-.898155 1.149803-1.205009 1.757011-.306847.607201-.677151 1.68132-.822899 2.386917-.169792.821995-.264995 2.153607-.264995 3.706402 0 2.371227.008155 2.425667.378006 2.524784.207897.055718 3.345298.102329 6.971996.1036l6.593998.002292v2.687996 2.688004h-6.971997-6.972003v15.014995c0 8.258255-.047249 15.251252-.104996 15.540001-.105004.525002-.105004.525002-3.276005.525002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 84px;
    width: 84px;
}


.tf {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background-color: white;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    @include transition(background-color .2s ease-in-out);
}

a:hover .tf {
    background-color: $second-color;
}

.tf-archive {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M32 32l448 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96L0 64C0 46.3 14.3 32 32 32zm0 128l448 0 0 256c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-256zm128 80c0 8.8 7.2 16 16 16l160 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-160 0c-8.8 0-16 7.2-16 16z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M32 32l448 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96L0 64C0 46.3 14.3 32 32 32zm0 128l448 0 0 256c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-256zm128 80c0 8.8 7.2 16 16 16l160 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-160 0c-8.8 0-16 7.2-16 16z'/%3e%3c/svg%3e");
}

.tf-github {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' %3e%3cpath d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' %3e%3cpath d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3e%3c/svg%3e");
}

.tf-linkedin {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/%3e%3c/svg%3e");
}

.tf-list {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z'/%3e%3c/svg%3e");
}

.tf-archive {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M32 32l448 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96L0 64C0 46.3 14.3 32 32 32zm0 128l448 0 0 256c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-256zm128 80c0 8.8 7.2 16 16 16l160 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-160 0c-8.8 0-16 7.2-16 16z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M32 32l448 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96L0 64C0 46.3 14.3 32 32 32zm0 128l448 0 0 256c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-256zm128 80c0 8.8 7.2 16 16 16l160 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-160 0c-8.8 0-16 7.2-16 16z'/%3e%3c/svg%3e");
}

.tf-tags {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M345 39.1L472.8 168.4c52.4 53 52.4 138.2 0 191.2L360.8 472.9c-9.3 9.4-24.5 9.5-33.9 .2s-9.5-24.5-.2-33.9L438.6 325.9c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6 .2-33.9s24.6-9.2 33.9 .2zM0 229.5L0 80C0 53.5 21.5 32 48 32l149.5 0c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5zM144 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3e%3cpath d='M345 39.1L472.8 168.4c52.4 53 52.4 138.2 0 191.2L360.8 472.9c-9.3 9.4-24.5 9.5-33.9 .2s-9.5-24.5-.2-33.9L438.6 325.9c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6 .2-33.9s24.6-9.2 33.9 .2zM0 229.5L0 80C0 53.5 21.5 32 48 32l149.5 0c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5zM144 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z'/%3e%3c/svg%3e");
}

.tf-rss {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z'/%3e%3c/svg%3e");
}

.tf-flask {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M288 0L160 0 128 0C110.3 0 96 14.3 96 32s14.3 32 32 32l0 132.8c0 11.8-3.3 23.5-9.5 33.5L10.3 406.2C3.6 417.2 0 429.7 0 442.6C0 480.9 31.1 512 69.4 512l309.2 0c38.3 0 69.4-31.1 69.4-69.4c0-12.8-3.6-25.4-10.3-36.4L329.5 230.4c-6.2-10.1-9.5-21.7-9.5-33.5L320 64c17.7 0 32-14.3 32-32s-14.3-32-32-32L288 0zM192 196.8L192 64l64 0 0 132.8c0 23.7 6.6 46.9 19 67.1L309.5 320l-171 0L173 263.9c12.4-20.2 19-43.4 19-67.1z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M288 0L160 0 128 0C110.3 0 96 14.3 96 32s14.3 32 32 32l0 132.8c0 11.8-3.3 23.5-9.5 33.5L10.3 406.2C3.6 417.2 0 429.7 0 442.6C0 480.9 31.1 512 69.4 512l309.2 0c38.3 0 69.4-31.1 69.4-69.4c0-12.8-3.6-25.4-10.3-36.4L329.5 230.4c-6.2-10.1-9.5-21.7-9.5-33.5L320 64c17.7 0 32-14.3 32-32s-14.3-32-32-32L288 0zM192 196.8L192 64l64 0 0 132.8c0 23.7 6.6 46.9 19 67.1L309.5 320l-171 0L173 263.9c12.4-20.2 19-43.4 19-67.1z'/%3e%3c/svg%3e");
}

.tf-user {
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z'/%3e%3c/svg%3e");
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' %3e%3cpath d='M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z'/%3e%3c/svg%3e");
}
