@import "mixins/_meyer-reset";
@import "mixins/_mymixins";
@import "mixins/_css3";
@import "mixins/_flex";
@import "mixins/font-awesome-scss/mixins";
@import "mixins/font-awesome-scss/variables";
@import "mixins/font-awesome-scss/path";
@import "mixins/font-awesome-scss/core";
@import "mixins/font-awesome-scss/larger";
@import "mixins/font-awesome-scss/stacked";
@import "mixins/font-awesome-scss/icons";
@include meyer-reset;

// Presets
// Border box
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'), url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'), url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary-color: #520B92;
$second-color: #ACD500;
$third-color: #FFE268;
$third-light-color: #FFEEA6;
$link-color: #9435db;
$max-width: 1080px;
$min-width: 320px;
$link-hover-color: #ACD500;
$header-color: black;
$footer-color: black;
$nav-link-color: white;
$font-color: black;
$body-background-color: #fdfdfd;
$date-color: #949494;
$card-background: white;
$tag-color: #ffeea6;
$tag-hover-color: #ffdb40;
$tag-border: #e8e8e8;
$primary-font: Verdana, sans-serif;
$header-font: Ubuntu,
    Helvetica,
    Arial,
    sans-serif;
$brand-font: Ubuntu,
    Arial,
    sans-serif;
$code-font: Menlo,
    "Lucida Console",
    Monaco,
    monospace;
// layout-splits
$phone: '>=480px';
$index-tablet: '>=660px';
$tablet: '>=768px';
$desktop: '>=900px';
$content-break: '>=880px';

// Defaults
html,
body {
    font-family: $primary-font;
    color: $font-color;
    min-width: 300px;
    background: $body-background-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

input {
    border: 1px solid $nav-link-color;
    background: none;
    font-family: $primary-font;
    @include appearance(none);
    color: $nav-link-color;
    @include border-radius(0.2em);

    &:focus {
        outline: 0;
    }
}

@include placeholder {
    font-family: $primary-font;
    color: $nav-link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-color;
    font-weight: 500;
    font-family: $header-font;
    line-height: 120%;

    a {
        color: $header-color;
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $primary-color;
        }
    }
}

h1 {
    font-size: calculateRem(36px);
}

h2 {
    font-size: calculateRem(30px);
}

h3 {
    font-size: calculateRem(24px);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    font-size: calculateRem(16px);
    line-height: 1.7em;
    font-family: $primary-font;
}

ul {
    font-size: calculateRem(18px);
}

p code {
    padding: .1em .2em;
    color: rgb(0, 126, 0);
    background-color: #f1f1f1;
}

code {
    font-family: $code-font;
    @include border-radius(0.2em);
}

header,
footer {
    color: $nav-link-color;
    background: $primary-color;

    a {
        color: $nav-link-color;
    }
}

pre {
    line-height: 1.3rem;
    font-size: 0.9em;
}

// modules
.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.pagination ul>li {
    display: inline;
}

.pagination ul>li>a {
    float: left;
    padding: calculateRem(4px) calculateRem(12px);
    line-height: calculateRem(20px);
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-family: $header-font, Helvetica, Arial, sans-serif
}

.pagination ul>li>a:hover,
.pagination ul>li>a:focus,
.pagination ul>.active>a {
    background-color: #f5f5f5;
}

.pagination ul>.active>a {
    color: #999999;
    cursor: default;
}

.pagination ul>.disabled>a,
.pagination ul>.disabled>a:hover,
.pagination ul>.disabled>a:focus {
    color: #757575;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li:first-child>a {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination ul>li:last-child>a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered {
    text-align: center;
}

.tag {
    display: inline-block;
    color: black;
    background: $tag-color;
    border: 2px solid $tag-border;
    padding: .34rem;
    font-size: calculateRem(14px);
    @include border-radius(6px);
    @include transition(background .2s ease-in-out);

    &:hover {
        background: $tag-hover-color;
    }
}

.most-recent {
    border: 2px solid black;
    font-weight: 500;
    font-family: $header-font;
    background: #ffe268;
    color: black;
    padding: .35rem;
    @include border-radius(8px);
}

.most-recent-wrapper {
    padding-bottom: calculateRem(16px);
    padding-top: calculateRem(8px);
}

.anchor-link {
    display: none;
}

.subtitle {
    .share-items-wrapper {
        text-align: right;
    }

    .share-items {
        margin-top: calculateRem(10px);
    }

    .share-item {
        display: inline-block;

        a {
            color: black;
            @include transition(color 0.2s ease-in-out);

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.similar-posts {
    h3 {
        border-bottom: 1px #d0d0d0 dotted;
    }

    .dl-tags {
        margin-top: calculateRem(10px);

        dt {
            width: 110px;
        }
    }
}

// code
// highlight
.highlight pre {
    color: #f5f5f5;
    font-family: $code-font;
    display: block;
    background-color: #333;
    @include border-radius(0.2em);
    padding: calculateRem(12px);
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

// ipython collpase header
.prompt {
    display: none;
}

.output_text {
    margin-top: calculateRem(10px);
    padding: 10px;
    border-radius: 2px;
    color: #353535;
    border-color: rgba(67, 9, 119, 0.73);
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    background: rgb(247, 247, 247);
}

.output_stderr {
    display: none;
}

.collapseheader,
.show-all-code {
    background-color: #e9e9e9;

    &>span {
        display: block;
        cursor: pointer;
        font-weight: 700;
        padding: calculateRem(8px) calculateRem(6px);
    }

    &>.input_area>.highlight {
        margin-top: 0;
    }
}

.show-all-code {
    margin-top: calculateRem(8px);
}

.output_text>pre {
    overflow: auto;
    font-size: calculateRem(14px);
    font-family: $code-font;
}

// listing tables
.dl-tags dt,
.dl-archive dt {
    float: left;
    width: 130px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: calculateRem(32px);
    font-size: calculateRem(18px);
}

.dl-tags dd,
.dl-archive dd {
    a {
        line-height: calculateRem(32px);
        font-size: calculateRem(18px);
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#tipue_search_input {
    padding: 6px;
    width: 180px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0;
}

#tipue_search_content {
    clear: left;
    padding: 25px 0 13px 0;
    margin: 0;
}

#tipue_search_loading {
    padding-top: 60px;
    background: #fafafa url('../img/loader.gif') no-repeat left;
}

#tipue_search_warning_head {
    font: 20px $brand-font, sans-serif;
    color: #333;
}

#tipue_search_warning {
    font: 20px $brand-font, sans-serif;
    color: #333;
    margin: 7px 0;
}

#tipue_search_warning a {
    color: #096;
    font-weight: 400;
    text-decoration: none;
}

#tipue_search_warning a:hover {
    color: #333;
}

#tipue_search_results_count {
    font: 20px $brand-font, sans-serif;
    color: #333;
}

.tipue_search_content_bold {
    font-weight: 700;
    color: #520b92;
}

.tipue_search_content_title {
    font: 30px $header-font, sans-serif;
    text-rendering: optimizelegibility;
    margin-top: 23px;
}

.tipue_search_content_title a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    transition: color .2s ease-in-out;
}

.tipue_search_content_title a:hover {
    color: black;
}

.tipue_search_content_text {
    font: 14px $primary-font, sans-serif;
    line-height: 20px;
    color: #333;
    padding: 13px 0;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.tipue_search_content_url {
    font: 15px $primary-font, sans-serif;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.tipue_search_content_url a {
    color: #096;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.tipue_search_content_url a:hover {
    color: #333;
}

#tipue_search_foot {
    margin: 51px 0 21px 0;
}

#tipue_search_foot_boxes {
    padding: 0;
    margin: 0;
    font: 17px $primary-font, sans-serif;
}

#tipue_search_foot_boxes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#tipue_search_foot_boxes li a {
    padding: 9px 15px 10px 15px;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-decoration: none;
    text-align: center;
}

#tipue_search_foot_boxes li.current {
    padding: 9px 15px 10px 15px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
}

#tipue_search_foot_boxes li a:hover {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

// Video
.videobox {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// katex
.katex-display {
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: calculateRem(8px);
}

// Overall layout (header main footer)
header,
footer,
main {
    @include flexbox;
    @include justify-content(center);
}

.header-wrapper,
.footer-wrapper,
.content {
    @include flex(1 1);
    max-width: $max-width;
}

.footer-inner-wrapper,
.header-inner-wrapper {
    width: 92%;
    margin: 0 auto;

    @include media($phone) {
        width: 96%;
    }
}

.footer-inner-wrapper {
    padding-bottom: calculateRem(16px);
}

// header layout
header {
    font-size: calculateRem(18px);
}

.header-wrapper {
    margin-top: calculateRem(12px);
    margin-bottom: calculateRem(8px);
}

.header-inner-wrapper {
    @include flexbox;
    @include justify-content(space-between);
}

.header-brand {
    @include flex(1 15%);
    font-size: calculateRem(70px);
    font-family: $brand-font;

    a {
        color: $second-color;
    }

    span {
        color: white;
    }
}

nav {
    @include flex(1 85%);
}

.nav-search--input {
    padding: 0.4em;
    width: calculateRem(180px);
    font-size: calculateRem(16px);
    @include border-radius(0.2em);
}

.nav-search {
    text-align: right;
}

.nav-links {
    @include flexbox;
    @include flex-flow(row wrap);
    float: right;
    width: 11.11em;
    text-align: right;

    @include media('>=500px') {
        width: 19em;
    }
}

.nav-link {
    @include flex(1 50%);
    margin-top: calculateRem(14px);

    @include media('>=500px') {
        @include flex(1 auto);
    }

    a {
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $link-hover-color;
        }
    }
}

// footer layout
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 330px;
    overflow: hidden;

    @include media($tablet) {
        height: 200px;
    }
}

body {
    margin-bottom: 330px;

    @include media($tablet) {
        margin-bottom: 200px;
    }
}

.footer-inner-wrapper {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
}

.footer-profile {
    @include flex(1 100%);

    @include media($tablet) {
        @include flex(1 50%);
    }
}

.footer-about {
    margin-top: calculateRem(16px);
}

.footer-contact {
    @include flex(1 70%);

    @include media($tablet) {
        @include flex(1 30%);
    }
}

.footer-site-detail {
    @include flex(1 30%);

    @include media($tablet) {
        @include flex(1 20%);
    }
}

.footer-links {
    margin-top: calculateRem(16px);

    a {
        font-size: calculateRem(16px);
    }
}

.footer-contact-message {
    margin-top: calculateRem(16px);
    padding-bottom: calculateRem(8px);

    p {
        font-size: calculateRem(16px);
    }
}

.footer-brand>a,
.footer-contact>span,
.footer-site-detail>span {
    font-size: calculateRem(24px);
    font-family: $brand-font;
    color: $second-color;
}

.footer-link {
    a {
        @include transition(color .2s ease-in-out);

        &:hover {
            color: $link-hover-color;
        }
    }
}

.footer-link {
    padding-bottom: calculateRem(12px);
}

.footer-profile,
.footer-contact,
.footer-site-detail {
    padding-right: calculateRem(24px);
    padding-top: calculateRem(28px);
}

.footer-social-item {
    display: inline;
    margin-right: calculateRem(2px);

    a {
        color: black;
        @include transition(color 0.2s ease-in-out);

        &:hover {
            color: $link-hover-color;
        }
    }
}

// content layout
main {
    background: #fdfdfd;
}

html {
    position: relative;
    min-height: 100%;
}

.content {
    min-width: $min-width;

    h1 {
        font-size: 2.5rem;
    }
}

.content-wrapper {
    width: 96%;
    margin: 0 auto;

    @include media($content-break) {
        width: 834px;
    }
}

// index layout
.article-image {
    max-width: 100%;
    max-height: 360px;
    width: auto;
    height: auto;
}

.articles-wrapper,
.project-wrapper {
    border: 1px solid #e8e8e8;
    @include border-radius(8px);
    background: $card-background;
    padding: calculateRem(16px);
    margin-bottom: calculateRem(10px);
}

.index {
    padding-top: calculateRem(12px);

    p {
        font-size: calculateRem(16px);
        margin-bottom: calculateRem(10px);
    }
}

.index-wrapper {
    width: 98%;
}

.pagination {
    margin-top: calculateRem(6px);
    margin-bottom: calculateRem(16px);
}

.articles-summary a:hover {
    text-decoration: underline;
}

.articles {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include align-items(stretch);
}

.articles-feature,
.articles-not-feature {
    .articles-summary {
        margin-top: calculateRem(8px);
    }
}

.articles-feature {
    @include flex(initial);
    @include flexbox;
    @include flex-flow(column nowrap);

    h2 {
        font-size: 2.2em;
    }

    @include media($index-tablet) {
        @include flex-flow(row nowrap);

        .articles-main-panel {
            width: 50%;
        }

        .articles-summary-wrapper {
            width: 47%;
            margin: auto 2%;
        }

        .articles-summary {
            margin-top: 0;
        }

        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

.articles-not-feature {
    @include flex(initial);
    @include flexbox;
    @include flex-flow(row wrap);

    h2 {
        font-size: calculateRem(26px);
    }

    .articles-summary-header {
        margin-right: 3%;
        width: 97%;
    }

    @include media($index-tablet) {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

// project layout
.project-list {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    margin-top: calculateRem(8px);
}

.project-wrapper {
    word-wrap: break-word;
    @include flex(initial);
    @include flex-flow(row wrap);
    width: 99%;
    margin-left: .5%;
    margin-right: .5%;

    @include media($index-tablet) {
        width: 49%;
        margin-left: .5%;
        margin-right: .5%;
    }
}

// default layout for other pages
.article,
.page,
.search,
.tag-wrapper,
.tags-wrapper,
.archives {
    margin-top: calculateRem(16px);
    margin-bottom: calculateRem(16px);

    p,
    h2,
    h3 {
        margin-top: calculateRem(16px);
    }

    h1 {
        border-bottom: 1px #d0d0d0 dotted;
    }

    h2 {
        border-bottom: 1px #d0d0d0 dotted;
        padding-bottom: calculateRem(4px);
    }

    ul {
        list-style-type: disc;
        margin-left: 1.50em;
    }

    ol {
        list-style-type: decimal;
        margin-left: 1.50em;
    }

    li {
        margin-top: calculateRem(12px);
        line-height: 1.3;
    }

    img {
        margin-top: calculateRem(14px);
    }

    .input {
        margin-top: calculateRem(14px);
    }

    .highlight {
        margin-top: calculateRem(10px);
    }

    .subtitle {
        margin-top: calculateRem(16px);
    }

    p a:hover,
    li a:hover,
    dd a:hover {
        text-decoration: underline;
    }
}

.entry-content {
    margin-top: calculateRem(10px);
}

// article layout
article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    @include media($tablet) {
        height: 100%;
        width: auto;
    }
}

.article-header {
    margin-top: calculateRem(12px);
    padding-bottom: calculateRem(6px);
}

.article-header-link {
    color: #767676;
    margin-right: calculateRem(12px);
}

.article-header-tag {
    margin-right: calculateRem(4px);
}

.article-header-tags-wrapper {
    margin-top: calculateRem(12px);
}

.article {
    h1 {
        text-align: center;
        font-size: 3rem;
    }

    .entry-content {
        margin-top: 2rem;
    }

    .article-header {
        text-align: center;
    }
}

.series-wrapper {
    border-bottom: 1px dotted black;
    padding-bottom: 18px;

    a {
        font-size: calculateRem(18px);
    }

    a:hover {
        text-decoration: underline;
    }
}

// archives
.archives {
    .dl-archive {
        margin-top: calculateRem(10px);
    }
}

// single tag
.tag-wrapper {
    .tag {
        font-size: calculateRem(28px);
        padding-top: 0;
        padding-bottom: 0;
    }

    .dl-tags {
        margin-top: calculateRem(10px);
    }

    h1 {
        border-bottom: none;
    }
}

// all tags
.topics-links {
    @include flexbox;
    @include flex-flow(row wrap);
    margin-top: calculateRem(14px);

    a {
        color: black;
    }
}

.topics-link {
    display: block;
    text-align: center;
    width: 48%;
    margin-top: calculateRem(10px);
    margin-left: 1%;
    margin-right: 1%;
    font-size: calculateRem(18px);
}

// projects
.projects {
    h2 {
        border-bottom: none;
        margin-top: calculateRem(16px);
    }
}

.project-wrapper {
    h3 {
        color: #520b92;
        margin-bottom: calculateRem(8px);
        margin-top: 0;
    }

    p {
        margin-top: calculateRem(10px);
        color: black;
        font-size: 1rem;
    }

    span {
        color: #096;
        line-height: 1.2;
    }

    &:hover {
        border: 1px solid rgba(82, 11, 146, 0.7);
    }
}

// tables
tr,
th,
td {
    text-align: right;
    vertical-align: middle;
    padding: 0.42em 0.47em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

th {
    font-weight: bold;
}

table {
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #353535;
    table-layout: fixed;
}

thead {
    background: #e1e1e1;
    color: #353535;
    border-bottom: 1px solid #555555;
    vertical-align: bottom;
}

tbody tr:nth-child(even) {
    background: #ededed;
}

tbody tr {
    background: #fbfbfb;
}

tbody tr:hover {
    background: rgba(82, 11, 146, 0.08);
}

*+table {
    margin-top: calculateRem(16px);
}

.output_subarea {
    overflow-x: auto;
}

.dataframe+p {
    display: none;
}

// adomontition
.admonition {
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
    background-color: rgba(255, 219, 64, 0.19);
    border-left: 4px solid rgba(255, 219, 64, 1);

    p {
        font-size: 1rem;
        margin-top: 0;
    }

    .admonition-title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}

.note {
    background-color: rgba(255, 219, 64, 0.19);
    border-left: 4px solid rgba(255, 219, 64, 1);
}

/*Block Quote*/

blockquote p {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2px;
    font-family: $primary-font;
    border-left: 4px solid #520b92;
    background-color: #f7f4ff;
}

// Summary detail

details[open]>summary:after {}

details>summary:before {}

summary:after {}

summary {
    padding: 8px;
    font-weight: 500;
    background-color: #f7f4ff;
}

.disabled-link {
    pointer-events: none;
}
